.chat {
  display: flex;
  height: 100vh;
}

.chat_side {
  display: flex;
  flex-direction: column;
}

.chat_side__left {
  width: 320px;
  min-width: 320px;
  border-right: 1px solid var(--color-black);
  background-color: var(--color-dark-green);
}

.chat_side__right {
  background-color: var(--color-white);
  flex-grow: 1;
}
