.chat {
  display: flex;
  height: 100vh;
}

.chat_side {
  display: flex;
  flex-direction: column;
}

.chat_side__left {
  width: 320px;
  min-width: 320px;
  border-right: 1px solid #001e1d;
  background-color: #004643;
}

.chat_side__right {
  background-color: #fffffe;
  flex-grow: 1;
}
