.message {
  border: 1px solid var(--color-black);
  border-radius: 10px;
  padding: 10px;
  align-self: flex-start;
  margin-bottom: 10px;
}

.message:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

.message__gray {
  background-color: var(--color-gray);
}

.message__green {
  background-color: var(--color-light-green);
}

.message_info {
  display: flex;
  margin-bottom: 10px;
}

.message_info-name {
  font-weight: bold;
  margin-right: 6px;
}

.message_text {
  line-height: 18px;
}
