.chat_stub {
  margin: auto;
  font-size: 24px;
  line-height: 24px;
}

.chat_window {
  background-color: #fffffe;
  overflow-y: scroll;
  padding: 12px;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
