<div id="modalWrapper" class="{{styles.modal_wrapper}}">
    {{#> card create=true}}
    {{#*inline "content"}}

    {{> title text="Create a chat" marginBottom=true}}
    {{> members}}
    {{> button id="createChat" text="Create" yellow=true marginTop=true}}

    {{/inline}}
    {{/card}}
</div>