<div class="{{styles.chat-controls}}">
    {{> userInfo white=true}}
    <a href="/chat/chatsettings" class="{{styles.chat-controls_settings}}"><img src="{{img}}" alt="Chat settings"
            width="25" height="25" /></a>
</div>