.signin_text {
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #001e1d;

  margin-top: 30px;
}

.signin_link {
  text-decoration: underline;
}

.signin_link:hover {
  color: #abd1c6;
}
