.title {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.title__margin-bottom {
  margin-bottom: 26px;
}

.title__white {
  color: var(--color-white);
}

.title__align-left {
  text-align: left;
}
