<div class="{{styles.profile}}">
    {{> avatar big=true}}
    {{> title text="My name"}}
    <form class="{{styles.profile_form}}">
        {{> input label="Email" type="email" inputName="email" value="test@ya.ru" }}
        {{> input label="Login" type="text" inputName="login" value="Mylogin" }}
        {{> input label="First Name" type="text" inputName="first_name" value="MyName" }}
        {{> input label="Second Name" type="text" inputName="second_name" value="MySecondName" }}
        {{> input label="Phone" type="text" inputName="phone" value="+7999999999" }}
        {{#if isProfileEditing}}
        {{> input label="Password" type="password" inputName="newPassword" value="somepassword" }}
        {{/if}}
    </form>

    {{#if isProfileEditing}}
    {{> button id="saveProfile" text="Save" yellow=true marginTop=true}}
    {{else}}
    {{> buttonLink href="/chat/editprofile" text="Change profile" yellow=true marginTop=true marginBottom=true}}
    {{> buttonLink href="/signin" text="Logout" red=true}}
    {{/if}}

</div>