<div class="{{styles.controls_wrapper}}">
    {{> chatInput search=true placeholder="Search"}}
    <a href="/chat/create" class="{{styles.controls_add-button}}"><img src="{{img}}" alt="Add chat" width="24"
            height="14" /></a>
</div>