<div class="{{styles.chat-settings}}">
    {{> avatar big=true }}
    {{> title marginBottom=true}}
    {{#if isMultiple}}
    {{> members}}
    {{/if}}
    {{> button id="deleteChat" text="Delete chat" red=true marginTop=true}}
</div>