{{#> entry}}
{{#*inline "content"}}
<div class="{{styles.error}}">
    <div class="{{styles.error_text-wrapper}}">
        {{#if is404}}
        {{>title text="404" white=true alignLeft=true}}
        {{>title text="Page not found" white=true alignLeft=true}}
        {{else}}
        {{>title text="500" white=true alignLeft=true}}
        {{>title text="Service is unavailable" white=true alignLeft=true}}
        {{/if}}
    </div>

    {{>buttonLink text="Let's go chatting" yellow=true href="/chat"}}
</div>
{{/inline}}
{{/entry}}